@import url('https://fonts.cdnfonts.com/css/apercu');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    flex-wrap: wrap;
}

.card1 {
    margin-top: 4vw;
    width: 350px;
    height: 350px;
    position: relative;
    background: #2f2f2f;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: all .3s ease-in;
    overflow: hidden;
    
}

.conteneur{
    opacity: 0;
    
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  color: #02e2cc;
  background-color: rgba(200, 200, 200, 0.5);
  width: 350px;
  height: 350px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  z-index: 3;
  padding: 100px;
}

.card1 .conteneur:hover{
    opacity: 1;
    backdrop-filter: blur(3px);
}

.card1 .conteneur .text {
    height: 0;
    opacity: 1;
    transition-delay: 0s;
    transition-duration: 0.4s;
}

.card1 .conteneur:hover .text{
    opacity: 1;
    transform: translateY(250px);
    -webkit-transform: translateY(250px);
    
}

.card3 {
    margin-top: -1vw;
    width: 1000px;
    height: 80px;
    position: relative;
    background: #2f2f2f;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 20px;
    transition: all .3s ease-in;
    margin-bottom: 2vw;
}

/* .card > *{ 
    padding: 20px;
} */

.card1 .cardimage {
    width: 150px;
    height: 150px;
    border: 5px;
    background-position: center center;
    background-size: cover;
}

.card3 .cardimage {
    width: 150px;
    height: 150px;
    border: 5px;
    background-position: center center;
    background-size: cover;
}

.card1 .card-title {
    padding: 20px 10px;
    font-size: 25px;
    font-family: "apercu";
    font-weight: bold;
    color: #F2F2F2;
    z-index: 1;
}

.card3 .card-title {
    padding: 8px 10px;
    font-size: 20px;
    font-family: "apercu";
    font-weight: bold;
    color: #02e2cc;
    margin-top: 1vw;
    z-index: 1;
}


.card1:nth-child(2) .favorites {
    border: 5px;
    background-position: center center;
    background-size: cover;
    margin-top: -12vw;
    margin-left: -12vw;
}

/* .card1:nth-child(1) .cardimage {
    background-image: url(./IMG/logo.png);
}

.card1:nth-child(2) .cardimage {
    background-image: url(./IMG/logo.png);
}

.card1:nth-child(3) .cardimage {
    background-image: url(./IMG/logo.png);
} */

.card1:hover {
    background: #363636;
    color: #F2F2F2;
    box-shadow: 0px 0px 11px 2px #171717;
}

.card1 .card-text {
    line-height: 20px;
    font-family: "apercu";
    font-weight: bold;
    text-align: center;
    

}

.card3:hover {
    background: #363636;
    color: #F2F2F2;
    box-shadow: 0px 0px 11px 2px #161616;
}

.card3 .card-text {
    line-height: 20px;
    margin-top: -1vw;
    font-size: 15px;
    font-family: "apercu";
    font-weight: bold;
    color: #ffffff;
}

/* .chien {
    margin-left: 5vw;
    margin-top: 15vw;
} */


.header h1 {
    font-family: "Abril Fatface", cursive;
    font-weight: 300;
    font-size: 6vw;
    margin-left: 1.6vw;
    margin-top: -0.1vw;
    color: #F2F2F2;
    letter-spacing: 0.3vw;
    height: 85px;
    
}

.secondtitle {
    font-family: "apercu", sans-serif;
    font-size: 1vw;
    color: #02e2cc;  /*#E2C202; #626262; */
    letter-spacing: 0.3vw;
    margin-left: 1.8vw;
    
}

.menufavorites {
    font-family: "apercu", sans-serif;
    letter-spacing: 0.1vw;
    font-size: 1.15vw; 
    position: absolute;
    margin-top: -7.4vw;
    margin-left: 93vw;
}

.myfav {
    font-family: "apercu", sans-serif;
    letter-spacing: 0.1vw;
    font-size: 2vw;
    font-weight: 900;
    position: absolute;
    margin-top: -7.6vw;
    margin-left: 86vw;
    color: #F2F2F2;  /*#E2C202*/
}


#displayPhoto2{
    z-index: 0;
}

.favorites1 {
    cursor:pointer;
    position: absolute;
    margin-top: -20vw;
    margin-left: -13vw;
    display: flex;
}

.favorites2 {
    cursor:pointer;
    position: absolute;
    margin-top: -20vw;
    margin-left: -13vw;
    display: flex;
   
}

.favorites3 {
    cursor:pointer;
    position: absolute;
    margin-top: -20vw;
    margin-left: -13vw;
    display: flex;
}

.favorites4 {
    cursor:pointer;
    position: absolute;
    margin-top: -2vw;
    margin-left: -59vw;
    display: flex;
}

.favorites5 {
    cursor:pointer;
    position: absolute;
    margin-top: -2vw;
    margin-left: -65vw;
    display: flex;
    background-color:#ffffff00;
    border-width: 0ch;
}

.history{
     font-size: medium;
    color: #F2F2F2;
}

#historyImages, #displayPhoto2, #getcinema_Photo{
    
        width: 350px;
        height: 350px;
        position: relative;
        background: #2f2f2f;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 10px;
        transition: all .3s ease-in;
    
}

.card-image{
    position: absolute;
    z-index: 1;
}

#legendImage, #artTitle, #art, #getcinema_Title, #getcinema_Synopsis{
    width: 250px;
    height: 200px;
    position: relative;
    margin-left: -50px;
    margin-top: -50px;
}

